<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>
    <p>This Content is Under Some work! sorry for this inconvience</p>

<%- include('includes/end.ejs') %>